@font-face {
  font-family: "Vazir";
  src: url("../fonts/vazir/Vazir.ttf") format("truetype");
}
@font-face {
  font-family: "Vazir-Bold";
  src: url("../fonts/vazir/Vazir-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Sahel";
  src: url("../fonts/sahel/Sahel.ttf") format("truetype");
}
@font-face {
  font-family: "Sahel-Black";
  src: url("../fonts/sahel/Sahel-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Sahel-Bold";
  src: url("../fonts/sahel/Sahel-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Sahel-Semibold";
  src: url("../fonts/sahel/Sahel-SemiBold.ttf") format("truetype");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --vazir:"Vazir",sans-serif;
    --vazir-Bold:"Vazir-Bold",sans-serif;
    --sahel:"Sahel",sans-serif;
    --sahel-Black:"Sahel-Black",sans-serif;
    --sahel-bold:"Sahel-Bold",sans-serif;
    --sahel-Semibold:"Sahel-Semibold",sans-serif;
    --light-green:#1add8d;
    --dark-blue:#010483;
    --white:#fff;
}

html{
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

/* ------------Header---------------- */

.header{
   background-color:rgba(2, 5, 161, 0.91);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
   opacity: 0.9;
}
.header__contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.header-logo__text{
   font-family: var(--vazir-Bold);
   font-size: 2.5rem;
   color: var(--white);
}
.header-nav__desktop{
  background-color: transparent;
}
.header-nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav__link{
  margin-right: 3rem;
  font-family: var(--vazir);
  font-size: 1.5rem;
  color:rgba(255, 255, 255, 0.7);
  position: relative;
  transition: all 0.3s ease-in-out 0s;
}
.header-nav__link::before{
    content: "";
    position: absolute;
    height: 2px;
    top: 3rem;
    width: 0;
    background-color: var(--light-green);
    transition: all 0.3s ease-in-out 0s;
    visibility: hidden;
}
.header-nav__link:hover{
    color: var(--white);
}
.header-nav__link:hover.header-nav__link::before{
  visibility:visible;
  width: 2.5rem;
}
.header-nav__mobile{
   display: none;
   position: fixed;
   padding: 2rem;
   width: 30%;
   background-color:var(--light-green);
   top:0;
   right: -35rem;
   bottom: 0;
   transition: all 0.3s ease-in-out;
}
.header-mobile__list{
   display: flex;
   flex-direction: column;
}
.header-mobile__item{
   margin-top: 2rem;
   padding: 1rem;
   border-radius: 0.9rem;
   transition: all 0.3s ease-in-out;
}
.header-mobile__item:hover{
  background-color: var(--dark-blue);
   animation: item ease-out;
}
.header-mobile__link{
    color:var(--white);
    font-family: var(--sahel);
    font-size: 1.6rem;
}
.header__mobile-btn{
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  border-radius: 50%;
  border: 2px solid var(--white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__mobile-btn:hover{
   transform: rotate(180deg);
}
.header__mobile-close{
    height: 3rem;
    width: 3rem;
    stroke: var(--white);
}
.hamburger-menu{
    display:none;
    cursor: pointer;
}
/* End Header */
.title__contents{
  padding-top:10rem;
  background-color:rgba(2, 5, 161, 0.91);
}
.content__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}
.content__details{
  width:55%;
}
.content__title{
 color: var(--light-green);
 font-family: var(--vazir-Bold);
 font-size: 4rem;
 line-height: 5rem;
 width: 100%;
}
.content__title-text{
  color: var(--white);
  border-bottom: 3px solid var(--light-green);
}
.content__text{
  color: rgba(255, 255, 255, 0.8);
  margin: 3rem 0;
  font-family: var(--sahel);
  font-size: 2rem;
}
.content__btn{
 background-color: var(--light-green);
 padding: 1rem 4rem;
 border-radius: 2rem;
 font-family: var(--vazir);
 font-size: 1.6rem;
 border: none;
 color:  rgba(255, 255, 255, 0.8);
 cursor: pointer;
 transition: all 0.3s ease-in-out;
}
.content__btn:hover{
  background-color: rgb(105, 182, 105);
}
.content__image-box{
  padding: 1rem;
  width: 33%;
  display: flex;
  align-items: center;
}
.content__img{
    width: 100%;
    height: auto;
    object-fit: cover;
    animation: leftRight 2s ease-in-out infinite alternate-reverse;
}
@keyframes leftRight {
  0%{
    transform: translateX(1rem);
  }
  100%{
    transform: translateX(-1rem);
  }
}
.header__wave-section{
  display: block;
  background-color: transparent;
  margin-top: 6rem;
  width: 100%;
  height: 6rem;
  z-index: 5;
  position: relative;
}

.wave1 .wavemove1{
  animation: moveWave1 10s linear infinite;
}

.wave2 .wavemove2{
  animation: moveWave2 8s linear infinite;
}

.wave3 .wavemove3{
  animation: moveWave3 6s linear infinite;
}

@keyframes moveWave1 {
   0%{
     transform: translate(8.5rem,0rem);
   }
   100%{
    transform: translate(-9rem,0%);
   }
}
@keyframes moveWave2 {
  0%{
    transform: translate(-9rem,0rem);
  }
  100%{
   transform: translate(8.5rem,0%);
  }
}
@keyframes moveWave3 {
  0%{
    transform: translate(-9rem,0rem);
  }
  100%{
   transform: translate(8.5rem,0%);
  }
}

/* Main Section */

.main{
  margin-top: 7rem;
}
.about__section-container{
   padding: 0 1rem;
}
.about__items-holder{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.about__section-left{
  width: 35%;
}
.about__section-image{
  width: 100%;
  /* margin: 0 auto; */
}
.about__section-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__section-right{
   width:60%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.about__section-title{
  font-family: var(--vazir);
  font-size: 2.8rem;
  color: var(--dark-blue);
  font-weight: 900;
  line-height: 4rem;
  margin-bottom: 3rem;
}
.about__section-text{
  font-family:var(--vazir);
  font-size: 1.4rem;
  font-weight: 900;
   margin-bottom: 5rem;
   line-height: 2.5rem;
}
.about__section-items{
  display: flex;
  flex-direction: column;
}
.about__contents-holder{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__contents-holder:nth-child(2){
  margin: 5rem 0;
}
.about__icon-container{
  width:10%;
}
.about__icon-holder{
  border: 2px solid var(--light-green);
  padding: 1rem;
  border-radius: 50%;
  width: 3.5rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.about__icon-holder:hover{
  background-color: var(--light-green);
}
.about__icon{
  width: 100%;
  height: 100%;
  stroke: #1add8d;
  transition: all 0.3s ease-in-out;
}
.about__icon-holder:hover .about__icon{
  stroke: var(--white);
}
.about__details-holder{
  width: 90%;
  display: flex;
  flex-direction: column;
}
.about__detail-title{
  font-family: var(--vazir-Bold);
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.about__detail-title:hover{
  color: var(--light-green);
}
.about__detail-text{
  font-family: var(--vazir-Bold);
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  line-height: 2rem;
}

/* Features styles */

.features{
  padding: 6rem 0;
}
.features__text-content,
.team__text-content,
.question__text-content,
.contact__text-content{
  width: 100%;
}
.features__text,.team__text,
.question__text,.contact__text{
   font-size: 1.4rem;
   color: #aaaaaa;
   font-weight: 600;
   font-family: var(--vazir);
   margin-bottom: 2.4rem;
   position: relative;
}
.features__text::before
,.team__text::before,
.question__text::before,
.contact__text::before{
  content: " ";
  width:12rem;
  height: 0.1rem;
  background-color: var(--light-green);
  position: absolute;
  right:5%;
  top: 45%;
}
.question__text::before{
  right:10%;
}
.features__title,.team__title,
.question__title,.contact__title{
  font-size: 3.6rem;
  color: var(--dark-blue);
  font-weight: 700;
  font-family: var(--vazir-Bold);
} 
.features__box{
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.7rem;
}
.features__box-content{
  padding: 2rem;
  background:#f5f5ff;
  width: 25rem;
  margin: 0 auto;
}
.features__box-details{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.features__icon{
  width: 3rem;
  height: 3rem;
}
.features__icon-title{
  font-size: 1.5rem;
  font-family: var(--vazir-Bold);
  color: var(--dark-blue);
  margin-right: 1rem;
}
/* Counter styles */
.counts{
  background-color: #f5f5ff;
  padding: 7rem 0;
}
.counter__box{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 2rem;
}
.counter__box-item{
  width: 24.6rem;
  background-color: var(--white);
  padding: 2rem;
  position: relative;
}
.counter__box-icon{
  position: absolute;
  right: 41%;
  top: -2.5rem;
  background-color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  width: 10%;
}
.counter__icon{
   width: 3rem;
   height: 3rem;
   stroke: var(--white);
}
.counter__number{
  font-size: 2.4rem;
  color: var(--dark-blue);
  font-family: var(--sahel-Black);
  margin: 2.5rem 0;
  text-align: center;
}
.counter__text{
  font-size: 1.4rem;
  font-family: var(--vazir);
  color: #444444;
  text-align: center;
}
/* Details styles */
.details{
  padding: 6rem 0;
}
.details__wrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;
} 
.details__img-box{
  flex-basis: 35%;
  height: auto;
}
.details__img-holder{
  width: 41.6rem;
}
.details__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details__box-items{
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
} 
.details__title{
  font-size: 2.4rem;
  font-family: var(--vazir);
  font-weight: 800;
  color: #010483;
  line-height: 4rem;
  margin-bottom: 2rem;
}
.details__text{
  font-size: 1.6rem;
  color: black;
  font-family: var(--sahel);
  margin-bottom: 2rem;
}
.details__list{
  font-size: 1.5rem;
  color: black;
  font-family: var(--sahel);
  margin:1rem 0;
}
.details__list-item{
  margin-bottom: 1rem;
}
.details__last-text{
  font-size: 1.6rem;
  color: black;
  font-family: var(--sahel);
  margin-top: 1rem;
  line-height: 3rem;
}
/* Comments */
.comments{
  padding: 8rem 0;
  background:url("../images/cta-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  position: relative;
}
.comments::before{
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(1, 3, 111, 0.8);
}
.comments__holder{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.comments__items-container{
  width: 100%;
  z-index: 1;
  margin-bottom: 10rem;
}
.comments__items{
 width: 100%;
 display: flex;
 flex-direction: column;
 margin: 0 auto;
 align-items: center;
}
.comments__img{
  width: 10rem;
  border-radius: 50%;
  border: 0.6rem solid rgba(255, 255, 255, 0.15);
}
.comments__image{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.comments__title{
  font-size: 2rem;
  color: var(--white);
  font-family: var(--vazir-Bold);
  margin: 3rem 0;
} 
.comments__word{
  color: #ddd;
  font-family: var(--vazir-Bold);
  font-size: 1.6rem;
}
.comments__text{
  color: #eee;
  text-align: center;
  font-family: var(--vazir-Bold);
  font-size: 1.4rem;
  line-height: 2.5rem;
  width: 80%;
  margin-top: 2.5rem;
  font-style: oblique;
}
.swiper-pagination-bullet{
  background-color: var(--light-green);
  width: 1.2rem;
  height: 1.2rem;
}
/* Team styles */
.team{
  padding: 8rem 0;
}
.team__cart-wrapper{
  padding: 6rem 0;
  width: 100%;
}
.team__cart-details{
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.member__cart-details{
  position: relative;
  text-align: center;
  margin-bottom: 8rem;
  width: 28rem;
}
.member__cart-details:hover .team__img{
  transform: scale(1.1);
}
.team__image{
   width: 100%;
   border-radius: 0.4rem;
   overflow: hidden;
}
.team__img{
   width: 100%;
   transition: all 0.3s ease-in-out;
   object-fit: cover;
}
.team__about-items{
    width: 100%;
    position: absolute;
    bottom:-7rem;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 1.5rem 0;
    border-radius: 0 0 0.4rem 0.4rem;
    box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.1);
}
.team__about-title{
   width: 100%;
   position: relative;
   color:var(--dark-blue);
   font-family: var(--vazir-Bold);
   font-size: 1.6rem;
   text-align: center;
   margin-bottom: 1rem;
   padding-bottom: 2rem;
}
.team__about-title::after{
  content: " ";
  display: block;
  width: 5rem;
  height: 0.1rem;
  position: absolute;
  right: 40%;
  bottom: 10%;
  background-color: var(--dark-blue);
}
.team__info-text{
  color: #01036f;
  font-family: var(--vazir);
  font-size: 1.4rem;
}
.team__social-media{
  margin: 1rem 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__icons{
  height: 2rem;
  width: 2rem;
  fill: var(--dark-blue);
  transition: all 0.3s ease-in-out;
}
.team__icons:hover{
  fill: var(--light-green);
}
.team__icons:nth-child(2){
  margin: 0 1rem;
}
/* Question */
.question{
  background-color: #f5f5ff;
  padding: 6rem 0;
}
.question__box-list{
  padding: 1.5rem;
  margin: 2rem 0;
}
.question__list{
  background-color: #f5f5ff;
}
.question__list-item{
  padding: 2rem;
  background-color: var(--white);
  margin-top: 2rem;
  height: 2rem;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.question__list-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.question__list-item.active {
   height: 5rem;
}
.question__list-item.active .chervon__down-icon{
  transform: rotate(-180deg);
}
.right__list-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.question__list-text{
  font-family: var(--vazir);
  font-weight: 500;
  font-size: 1.5rem;
  margin-right: 1rem;
  position: relative;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.question__list-text:hover{
  color: var(--light-green);
}
.question__icon{
  width: 2rem;
  height: 2rem;
  stroke: var(--light-green);
}
.chervon__down-icon{
  width: 1.8rem;
  height: 1.8rem;
  stroke: #aaaaaa;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.question__hidden-text{
  font-family: var(--vazir);
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;
}
/* Contact */
.contact{
  padding: 6rem 0;
}
.contact__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}
.contact_infos{
  width: 45%;
  align-self: flex-start;
}
.contact__address,.contact__email,.contact__phone{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact__email{
  margin: 2rem 0;
}
.address__icon,.email__icon,.phone__icon{
  width: 2.5rem;
  height: 2.5rem;
  stroke: #3f43fd;
}
.contact__address-title,
.contact__email-title,.contact__phone-title{
    font-size: 2rem;
    font-family: var(--vazir-Bold);
    color: #01036f;
    font-weight: 500;
    margin: 1rem 0;
}
.contact__address-text,.contact__email-text
,.contact__phone-text{
    font-size: 1.5rem;
    font-family: var(--vazir);
    color: #01036f;
}
.contact__form{
  width: 95%;
}
.form{
  width: 100%;
}
.contact__first-inputs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__inputs{
    width: 46%;
    padding: 1rem;
    border: 1px solid #ced4da;
}
.contact__inputs::placeholder{
  font-family: var(--vazir);
  font-weight: 500;
  font-size: 1.2rem;
  font-family: var(--vazir);
}
.contact__topic{
  width: 97.2%;
  margin: 1rem 0;
}
.contact__topic-input{
  width: 100%;
  padding: 1rem;
  border: 1px solid #ced4da;
}
.contact__topic-input::placeholder{
  font-family: var(--vazir);
  font-weight: 500;
  font-size: 1.2rem;
  font-family: var(--vazir);
}
.contact__message{
  width: 97.2%;
}
.contact__message-textarea{
  width: 100%;
  padding: 1rem;
  border: 1px solid #ced4da;
  resize: none;
  font-size: 1.2rem;
  font-family: var(--vazir);
  min-height: 20rem;
}
.contact__message-textarea::placeholder{
  font-family: var(--vazir);
  font-weight: 500;
  font-size: 1.4rem;
}
.form__btn{
  padding: 1rem 3rem;
  background-color: #1acc8d;
  color: var(--white);
  font-family: var(--vazir-Bold);
  font-size: 1.5rem;
  border: none;
  border-radius: 5rem;
  display: block;
  margin: 1rem auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.form__btn:hover{
  background-color: #30ebaa;
}
/* Footer */
.footer{
  background-color: #010351;
}
.footer__up{
  padding: 6rem 0 3rem 0;
}
.footer__items{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__links{
  width: 35%;
  margin: 3rem 0;
}
.footer__link-title,.footer__products-title
,.footer__newsletter-title{
  font-family: var(--vazir-Bold);
  color: var(--white);
  font-weight: 800;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.footer__link-item,.footer__product-item{ 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}
.footer__link-item p,.footer__product-item p{
  font-family: var(--vazir-Bold);
  color: var(--white);
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
}
.footer__link-item p:hover,
.footer__product-item p:hover{
  color:var(--light-green)
}
.footer__products{
  width: 35%;
}
.footer__newsletter{
  width: 30%;
}
.footer__newsletter-text{
  font-family: var(--vazir);
  font-size: 1.4rem;
  color: var(--white);
  margin: 3rem 0;
}
.footer__form{
  width: 100%;
}
.footer__input{
  display: block;
  border: none;
  border-radius: 5rem;
  padding: 1rem 3rem; 
  width: 70%;
}
.footer__icon{
  width: 1.5rem;
  height: 1.5rem;
  stroke: var(--light-green);
  stroke-width: 0.18rem;
}
.footer__btn{
  display: block;
  margin: 1.5rem auto;
  padding: 0.7rem;
  width: 30%;
  background-color: var(--light-green);
  border-radius: 5rem;
  color: var(--white);
  font-family: var(--vazir);
  font-size: 1.5rem;
  cursor: pointer;
}
.footer__bottom-item{
  margin:2rem 0 1rem 0;
}
.footer__bottom-text{
  text-align: center;
  font-family: var(--vazir-Bold);
  font-size: 1.6rem;
  color: var(--white);
}
.footer__bottom-content{
  margin:1rem 0 0 0;
}
.footer__bottom-content p{
  text-align: center;
  font-family: var(--vazir-Bold);
  font-size: 1.6rem;
  color: var(--white);
}
.footer__bottom-content a{
  text-decoration: none;
  color: var(--light-green);
  font-family: var(--vazir-Bold);
  font-weight: 800;
  border-bottom: 0.2rem solid var(--light-green);
}
/* Helper class */
.container{
  max-width: 85%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1200px){
  .container{
      max-width: 1140px;
   }
   .member__cart-details{
    width: 25rem;
   }
}

@media (max-width: 992px){
  .container{
      max-width: 960px;
   }
   .header-nav__desktop{
      display: none;
   }
   .header-nav__mobile{
      display:flex;
      flex-direction: column;
   }
   .hamburger-menu{
      display: block;
  }
  .content__wrapper{
    flex-direction: column-reverse;
  }
  .content__title{
    font-size: 2rem;
    text-align: center;
  }
  .content__text{
    font-size: 1.5rem;
    text-align: center;
  }
  .content__details{
    margin-top: 5rem;
  }
  .content__btn{
    display: block;
    margin: 0 auto;
  }
  .about__items-holder{
    flex-direction: column;
  }
  .about__section-right{
    width: 100%;
    margin-top: 5rem;
  }
  .about__section-items{
    width: 100%;
  }
  .about__icon-holder{
    margin: 0 auto;
  }
  .about__section-left{
    width: 50%;
  }
  .counter__box{
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
  .team__cart-details{
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .member__cart-details{
    width: 80%;
  }
  .contact__wrapper{
    flex-direction: column;
  }
  .contact__form{
    margin-top: 2.5rem;
  }
  .footer__btn{
    width: 60%;
  }
}

@media (max-width: 768px){
  .container{
      max-width: 720px;
   }
   .content__details{
    width: 100%;
   }
   .content__title{
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
  }
  .content__text{
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
  }
  .content__image-box{
    width: 50%;
  }
  .content__btn{
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
    display: block;
    width: 50%;
  }
  .about__section-title{
    font-size: 2rem;
  }
  .about__details-holder{
    width: 86%;
  }
  .about__icon-holder{
    width: 2.5rem;
  }
  .features__text::before{
    right: 10%;
  }
  .features__box{
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .features__box-content{
    width: 70%;
    margin-top: 1rem;
    margin-right: 0;
    margin-left: 0;
  }
  .counter__box-item{
    width: 54%;
  }
  .counter__box-icon{
    right: 44%;
    width: 7%;
  }
  .details__wrapper{
    flex-direction: column;
  }
  .details__box-items{
    margin-top: 5rem;
  }
  .team__cart-details{
    flex-direction: column;
  }
  .member__cart-details{
    width: 80%;
  }
  .team__about-title::after{
    right: 45%;
  }
  .question__text::before {
    right: 18%;
   }
   .contact__first-inputs{
    flex-direction: column;
   }
   .contact__inputs{
    width: 96%;
    margin-top: 1rem;
   }
   .contact__message-textarea,
   .contact__topic-input{
    width: 99%;
   }
   .contact__text::before{
    right: 10%;
   }
}

@media (max-width: 576px){
  .container{
      max-width: 100%;
   }
   .header-nav__mobile{
      width: 50%;
   }
   .header__mobile-btn{
      width: 15%;
   }
   .about__section-title{
    margin-bottom: 1rem;
   }
   .about__icon-holder{
    width: 2rem;
   }
   .features__box-content{
    width: 90%;
  }
  .features__text::before{
    right: 15%;
  }
  .counter__box-item{
    width: 75%;
  }
  .details__img-holder {
    width: 30rem;
   }
   .team__text::before{
    right: 8%;
    top: 70%;
   }
   .question__title{
    font-size: 2rem;
   }
   .question__text::before {
    right: 28%;
   }
   .contact__message-textarea,
   .contact__topic-input{
    width: 98%;
   }
   .contact__inputs{
    width: 95%;
   }
   .form__btn{
     width: 100%;
   }
   .footer__items{
    flex-direction: column;
   }
   .footer__links,.footer__products,.footer__newsletter{
     width: 90%;
   }
   .footer__input{
    margin: 0 auto;
   }
   .footer__newsletter{
    margin: 3rem auto;
   }
   .footer__btn{
    width: 40%;
   }
}
.open{
  right: 0;
}
.close{
   right:-35rem;
}
.d-none{
  display: none;
}